// <=========================================================================================================> //
// --- Nullification --- //
// <=========================================================================================================> //

@import "nullstyle";

// <=========================================================================================================> //
// --- Variables --- //
// <=========================================================================================================> //

@import "variables";

// <=========================================================================================================> //
// --- Fonts --- //
// <=========================================================================================================> //

@font-face {
  font-family: 'FactorA';
  font-weight: 500;
  font-style: normal;
  src: local('FactorA'), url(../fonts/FactorA-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'FactorA';
  font-weight: 700;
  font-style: normal;
  src: local('FactorA'), url(../fonts/FactorA-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  src: local('Gilroy'), url(../fonts/Gilroy-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: local('Gilroy'), url(../fonts/Gilroy-Semibold.woff2) format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  font-style: normal;
  src: local('Gilroy'), url(../fonts/Gilroy-Bold.woff2) format('woff2');
}
// <=========================================================================================================> //

h1 {
  font-family: 'FactorA', sans-serif;
  font-weight: 500;
  font-size: 124px;
  line-height: 148px;
  @media (max-width: $md3) {
    font-size: 48px;
    line-height: 54px;
  }
}

h2 {
  font-family: 'FactorA', sans-serif;
  font-weight: 500;
  font-size: 68px;
  line-height: 88px;
  @media (max-width: $md3) {
    font-size: 16px;
    line-height: 1.25em;
  }
}

h3 {
  font-family: 'FactorA', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  @media (max-width: $md3) {
    font-size: 15px;
  }
}

h4 {
  font-family: 'FactorA', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  @media (max-width: $md3) {
    font-size: 13px;
    line-height: 1.23em;
  }
}

// <=========================================================================================================> //
// --- Основной блок --- //
// <=========================================================================================================> //

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textColor;
  background-color: #585CC6;
}
