// <=========================================================================================================> //
// --- Nullification --- //
// <=========================================================================================================> //

@import "nullstyle";

// <=========================================================================================================> //
// --- Variables --- //
// <=========================================================================================================> //

@import "variables";

// <=========================================================================================================> //
// --- Fonts --- //
// <=========================================================================================================> //

@font-face {
  font-family: 'FactorA';
  font-weight: 500;
  font-style: normal;
  src: local('FactorA'), url(../fonts/FactorA-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'FactorA';
  font-weight: 700;
  font-style: normal;
  src: local('FactorA'), url(../fonts/FactorA-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  src: local('Gilroy'), url(../fonts/Gilroy-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: local('Gilroy'), url(../fonts/Gilroy-Semibold.woff2) format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  font-style: normal;
  src: local('Gilroy'), url(../fonts/Gilroy-Bold.woff2) format('woff2');
}
// <=========================================================================================================> //

h1 {
  font-family: 'FactorA', sans-serif;
  font-weight: 500;
  font-size: 124px;
  line-height: 148px;
  @media (max-width: $md3) {
    font-size: 48px;
    line-height: 54px;
  }
}

h2 {
  font-family: 'FactorA', sans-serif;
  font-weight: 500;
  font-size: 68px;
  line-height: 88px;
  @media (max-width: $md3) {
    font-size: 16px;
    line-height: 1.25em;
  }
}

h3 {
  font-family: 'FactorA', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  @media (max-width: $md3) {
    font-size: 24px;
    line-height: 32px;
  }
}

h4 {
  font-family: 'FactorA', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  @media (max-width: $md3) {
    font-size: 13px;
    line-height: 1.23em;
  }
}

// <=========================================================================================================> //
// --- Main --- //
// <=========================================================================================================> //

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textColor;
  background-color: #585CC6;
}

#root{
  height: 100%;
}

.input__wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-button {
  cursor: pointer;
}

.react-select-container{
  color: $textColor;
  width: 403px;
  @media (max-width: $md3) {
      width: 100%;
  }
}

.react-select{
  &__input-container{
    padding-bottom: 12px !important;
    padding-top: 12px !important;
  }

  &__control{
    border: 1px solid #E0E0E0 !important;
    border-radius: 2px !important;

    &--is-focused{
      box-shadow: none !important;
      border-color: #585CC6 !important;

      .react-select__indicator{
        transition: ease 400ms;
        transform: rotate(180deg);
        color: #585CC6 !important;
      }
    }

    &--is-disabled{
      background-color: #FFFFFF !important;
    }
  }

  &__single-value{
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: $textColor !important;

    &--is-disabled{
      color: #E0E0E0 !important;
    }
  }

  &__indicator-separator{
    display: none;
  }

  &__indicator{
    transition: ease 400ms;
    color: #8A8A8A !important;
  }

  &__menu{
    border-radius: 2px !important;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.08) !important;
    margin-top: 0 !important;

    &-list{
      max-height: 403px !important;
      padding: 0 !important;
    }
  }

  &__option{
    padding: 12px !important;
    font-family: 'Gilroy', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 22px !important;

    &--is-selected{
      color: #585CC6 !important;
      background: #F5F5F5 !important;
    }

    &--is-focused{
      background: #EEEFF9 !important;
    }
  }
}