@import'src/app/styles/variables';

.auth-form{

  .input-block{
    margin-bottom: 32px;
    width: 548px;
    @media (max-width: $md3) {
      width: 100%;
    }
  }

  .btn{
    margin-top: 8px;

    @media (max-width: $md3) {
      width: 100%;
    }
  }
}