@import'src/app/styles/variables';

.auth-page{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  overflow: hidden;

  &:after {
    content: url("../../../images/Auth_tatto.svg");
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
  }

  &__header{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
      @media (max-width: $md3) {
        width: 60px;
        height: 36px;
      }
      stroke: #FFFFFF;
      fill: #FFFFFF;

      path{
        fill: #FFFFFF;
      }
    }
  }

  &__main{
    flex: 1 1 auto;
    z-index: 10;
    margin: 0 auto 2% auto;
  }
}