@import'src/app/styles/variables';

.auth-form{
  background: #FFFFFF;
  border-radius: 2px;
  text-align: center;
  padding: 40px 40px 24px 40px;

  @media (max-width: $md3) {
    padding: 16px;
  }

  .input-block{
    margin-bottom: 32px;
    &__input{
      width: 548px;

      @media (max-width: $md3) {
        width: 100%;
      }
    }
  }

  .button-purple{
    margin: 8px 0 16px 0;

    @media (max-width: $md3) {
      width: 100%;
    }
  }

  h3{
    margin-bottom: 32px;
  }

  @media (max-width: $md3) {
  }
}