@import 'src/app/styles/variables';

.comment-list{
  display: flex;

  @media (max-width: $md3) {
      margin-top: 60px;
  }

  @media (max-width: $maxWidth) {
    flex-direction: column;
  }

  &__container-arrow-buttons{
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: $maxWidth) {
      margin-left: 0;
      margin-top: 24px;
    }
  }

  &__arrow-buttons{
    flex-direction: row;

    @media (max-width: $maxWidth) {
      align-self: center;
    }

    button:first-child{
      margin-right: 16px;
    }
  }

  &__container{
    background-color: #FFFFFF;
    padding: 56px 56px 38px 80px;
    width: 1200px;
    max-width: 90%;
    height: 525px;

    @media (max-width: $md3) {
      padding: 20px 15px 44px 24px;
      height: 100%;
    }
  }

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__swiper{
    margin-top: 38px;

    .comment{
      width: 95%;
    }
  }
}

.dots{
  width: 12px;
  height: 4px;
  background-color: #585CC6;
  margin-top: 32px;
  opacity: 0.3;

  @media (max-width: $md3) {
      margin-top: 24px;
  }
}

.slick-active{
  .dots{
    opacity: 1;
    width: 24px;
  }
}