@import '../../../app/styles/variables';

.comment{
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #F5F5F5;
  border-radius: 2px;
  width: 520px;
  height: 280px;

  @media (max-width: $md3) {
    padding: 12px 16px;
    width: 280px;
    height: 350px;

    .date{
      margin-top: 12px;
      font-size: 10px;
      line-height: 14px;
    }
  }

  &_admin{
    height: 363px;

    @media (max-width: $md3) {
        height: 374px;
    }
  }

  &__admin-block{
    display: flex;
    align-items: center;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #61BF4A;

    &_rejected{
      color: #EB5757;
    }
  }

  &__icon{
    padding: 7px 6px;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #61BF4A;
    opacity: 0.4;
    border-radius: 4px;

    svg{
      width: 10px;
      height: 10px;
      mix-blend-mode: color-burn;
      path{
        fill: #61BF4A;
      }
    }

    &_rejected{
      background: #EB5757;

      svg{
        path{
          fill: #EB5757;
        }
      }
    }
  }

  &_published{
    background: rgba(181, 255, 162, 0.1);
  }

  &_rejected{
    background: #FDEEEE;
  }

  &__header{
    display: flex;
    justify-content: space-between;

    @media (max-width: $md3) {
      flex-direction: column;
    }

    &__name-avatar{
      display: flex;
      align-items: center;

      h4{
        margin-left: 20px;

        @media (max-width: $md3) {
            margin-left: 8px;
        }
      }
    }
  }

  &__text{
    flex: 1 1 auto;
    margin-top: 24px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.date{
  color: #8A8A8A;
}