@import 'src/app/styles/variables';

.add-comment{
  &__captcha{
    margin-top: 32px;
    display: flex;
    align-items: end;

    @media (max-width: $md3) {
      flex-direction: column;
      .input-block{
        order: 2;
      }
      align-items: start;
    }
  }

  &__captcha-right{
    margin-left: 16px;
    display: flex;
    width: 100%;

    .loader{
      margin-right: 50px;
    }

    @media (max-width: $md3) {
      margin-left: 0;
      margin-bottom: 16px;
      order: 1;
      width: 100%;
    }
  }

  &__captcha-img{
    margin-right: 16px;
    width: 165px;
    height: 52px;
    object-fit: fill;
    @media (max-width: $md3) {
      width: 192px;
    }
  }

  &__reload-captcha{
    background: #F5F5F5;
    border-radius: 2px;
    height: 52px;
    padding: 18px 16px;

    &:hover{
      svg path{
        fill: #797DDF;
      }
    }
  }
}