@import 'src/app/styles/variables';

.add-comment {
  &__content {
    background: #FFFFFF;
    padding: 24px;
    border-radius: 2px;
    width: 676px;
    max-height: max-content;

    @media (max-width: $md3) {
      padding: 16px;
      width: calc(100% - 30px);
      margin: 0 auto;

      .input-block, .textarea-block{
        width: 100%;
      }

      .btn{
        width: 100%;
      }
    }

    .textarea-block {
      margin-top: 32px;
    }

  }

  &__name-file, &__submit {
    display: flex;
  }

  &__name-file {
    .input__wrapper {
      margin-top: 50px;
    }

    @media (max-width: $md3) {
      flex-direction: column;
      align-items: normal;
      .input__wrapper {
        margin-top: 20px;
        text-align: left;
      }
    }
  }
}