.main-page{
  position: relative;
  &:before {
    content: url("../../shared/images/Body_tattoo.svg");
    position: absolute;
    right: 0;
    top: 0;
  }

  main {
    position: relative;
    z-index: 10;
  }

  h1{
    color: #FFFFFF;
    margin: 80px 90px;
  }
}