@import'src/app/styles/variables';

.main-page{
  display: flex;
  flex-direction: column;
  position: relative;
  &:before {
    content: url("../../shared/images/Body_tattoo.svg");
    position: absolute;
    right: 0;
    top: 0;
  }

  @media (max-width: $md3) {
      overflow: hidden;
  }

  main {
    position: relative;
    z-index: 10;
    flex: 1 1 auto;
  }

  h1{
    color: #FFFFFF;
    margin: 80px 90px;

    @media (max-width: $md3) {
        margin: 43px 16px 64px 16px;
    }
  }
}