@import'src/app/styles/variables';

.admin-nav{
  display: flex;
  flex-direction: column;
  & button:not(:first-child){
    margin-top: 16px;
  }

  @media (max-width: $md3) {
    flex-direction: row;

    & button{
      width: 100%;
    }

    & button:not(:first-child){
      margin-top: 0;
    }
  }
}