@import'src/app/styles/variables';

.edit-comment{
  background: #FFFFFF;
  padding: 24px;
  width: 676px;

  @media (max-width: $md3) {
      .textarea-block__textarea{
        height: 225px;
      }
  }

  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__btn{
    margin-top: 40px;
    display: flex;
    .btn:first-child{
      margin-right: 12px;

      @media (max-width: $md3) {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
    @media (max-width: $md3) {
      flex-direction: column;
    }
  }
}