@import 'src/app/styles/variables';

.add-comment {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: 0;
  transition: opacity 200ms ease-in;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &_active {
    opacity: 1;
    pointer-events: auto;
  }
}
